/* 자주 사용하는 변수 */
:root {
	/* App Colors - css변수*/
	--color-primary: var(--color-black);
	--color-primary-variant: var(--color-gray);
	--color-accent: var(--color-pink);
	--color-accent-variant: var(--color-orange);
	--color-text: var(--color-white);
	

	/* Colors */
	--color-white: #ffffff;
	--color-black: #050a13;
	--color-pink: 	#FF78C1;
	--color-orange: #fd6413;
	--color-gray: #1b1e26;

	/* Size */
	--size-max-width: 1200px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2, h3 ,p ,ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: var(--color-text);
	color: black;
}

button {
	background-color: transparent;
	outline: 0;
	border: 0;
}

button:focus {
	outline: 1px solid transparent;
}

img {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
}

hr {
	width: 80%;
	height: 10%;
	color: var(--color-pink);
	margin: 0 auto;
	size: "3";
}

/* Common */
.section {
	padding: 4rem;
	text-align: center;
}

.max-container {
	max-width: var(--size-max-width);
	margin: auto;	/*margin 이 알아서 잡힘*/
}

.title {
	padding: 2.5rem;
	text-align: 1rem 0;
}

.description {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}


/* Header */
.header {
	background-color: transparent;	/*배경색 투명하게 스크롤되면 핑크색으로*/
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	transition: all 300ms ease;	/*모든 속성에 대해서 300ms동안  ease 옵션 주기*/
}

.header--pink {
	background: #FFAFBD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__logo__img {
	width: 36px;
	height: 36px;
}

.header__logo__title {
	font-size: 1.8rem;	/*상대적인 유닛*/
}

.header__toggle {
	display: none;
	color: var(--color-black);
	font-size: 1.5rem;
	position: absolute;
	top: 1.3rem;
	right: 1rem;
}

.header__menu {
	display: flex;
	gap: 2px;	
}

.header__menu__item {
	display: block;
	padding: 8px 16px;
	border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
	border-bottom: 1px solid var(--color-pink);
}

.header__menu__item.active {
	
	border: 1px solid var(--color-white);
	border-radius: 4px;
}

/* Home */
#home {
	color: var(--color-white);
	padding: 5rem 1rem;
	padding-top: 7rem;
	text-align: center;
	/* opacity: 0.5; */
}

#home--shadow {
	transition: all var(--color-black) ease-in-out;
	opacity: 0.5;
}

.home__avatar {
	width: 150px;
	height: 250px;
	border-radius: 100%;
	object-fit: cover;	/*이미지의 원래 비율 유지*/
	border: 3px solid var(--color-accent);
}

.home__title {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: var(--color-black);
}

.home__title--strong {
	color: var(--color-accent);
}

.home__description {
	font-size: 1.3rem;
	color: black;
}

.home__contact {
	display: inline-block;
	background-color: var(--color-accent);
	padding: 0.5rem 1rem;
	margin: 2rem;
	font-weight: bold;
	color: var(--color-black);
	border-radius: 4px;

}

.home__contact:hover {
	background-color: transparent;
	color: var(--color-black);
	outline: 2px solid var(--color-accent);
}

/* About */
#about {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.majors {
	width: 700px;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	/* gap: 3rem; */
	margin: 1rem;
	
}

svg {
	margin-bottom: 20px;
	margin-right: 20px;
}

.majors__icon__title {
	height: 60px;
	width: 250px;
	display: flex;
	/* justify-content: center; */
	margin-bottom: 25px;
}

.major__subject {
	text-align: left;
}


/* .major {
	background-color: var(--color-primary-variant);
	padding: 2rem 1rem;
	color: var(--color-text);
	border-radius: 1rem;
	cursor: default;
	box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.majors__icon {
	font-size: 4rem;
	margin: 1rem 0;
	color: var(--color-accent);
	transition: all 300ms ease;
}

.major__title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.major:hover .major__icon {
	transform: rotate(-15deg) scale(1.2);

}

.max-container {
	max-width: var(--size-max-width);
	margin: auto;
} */

/* Skills */
.description {
	font-size: 1.7rem;
	margin-bottom: 40px;
}

.skills__magin {
	margin: 20px;
}

.skills__list {
	/* margin: 20 20 20 5px; */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skills__list__ctro__comuni {
	margin-top: 200px;
	margin-left: 20px;
}

.skills__list__front__back {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__front__list {
	margin-bottom: 20px;
	width: 350px;
	height: 650px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.skills__front__list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skills__backend__list {
	width: 250px;
	height: 270px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.skills__backend__list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skills__controll__list {
	margin-bottom: 20px;
	width: 330px;
	height: 230px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.skills__controll__list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skills__comuni__list {
	width: 330px;
	height: 200px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

.skills__comuni__list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skills__front__list, .skills__backend__list, .skills__controll__list, .skills__comuni__list ,.skills__comuni__list {
	border-radius: 20px;
}


/* .skills {
	color: var(--color-text);
	background-color: white;
	display: flex;
	justify-content: space-around;
	flex-flow: column wrap;
	align-content: space-around;
	margin: 1rem 3rem 1rem 1rem;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 40, 0.01), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}  */

.skills__title {
	color: var(--color-accent);
	margin: 1rem 0;
	font-size: 1rem;
}

.skills__coding {
	grid-row: span 2;
	padding: 1rem;

	background-color: var(--color-white);
}

.skills__tools {
	background-color: var(--color-white);
	padding: 1rem;
}

.skills__etc {
	padding: 1rem;
	background-color: var(--color-white);
	filter: brightness(150%);
}

/* Work */
#work {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.categories {
	display: flex;
	justify-content: center;
	margin: 2.5rem;
	gap: 1rem;
}

.category {
	position: relative;
	color: var(--color-text);
	font-size: 1.1rem;
	padding: 0.5rem 3.5rem;
	border-radius: 5px;
	border: 1px solid var(--color-accent);
	cursor: pointer;
	white-space: nowrap;
}

.category--selected {
	background-color: var(--color-accent);
	color: var(--color-primary);
}

.category__count {
	opacity: 0;
	position: absolute;
	top: -20px;
	right: 16px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 100%;
	background-color: var(--color-accent-variant);
	color: var(--color-text);
	transition: all 250ms ease-in;
}

.category--selected .category__count, .category:hover .category__count {
	opacity: 1;
	top: 0;
}


/* 프로젝트 */
.projects {
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 1rem;
	transition: all 250ms ease-out;
	position: relative;
}

.project {
	width: 550px;
	height: 320px;
}

.project__img {
	border-radius: 10px;
	width: 100%;
}

.project__details {
	display: none;
	background-color: gray;
	padding: 10px;
	border: 1px solid #ccc;
	z-index: 1;
	left: 0; /* 추가 */
	width: 100%; /* 추가 */
	height: 100%;
	border-radius: 10px;
 }

.projects__img:hover .project__details {
	display: block;
}

.project__metadata {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 250ms ease-in;
	transform: translateY(-10px);
}

.project__metadata:hover {
	opacity: 0.8;
	transform: translateY(0px);
   }
   
.project__title:after {
	content: '';
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0.5rem 0;
	width: 50px;
	height: 2px;
	background-color: var(--color-pink);
}

.project__skills {
	color: white;
}

/*  */
.project__details__title {
	display: flex;
	justify-content: center;
}

.project__title__ul {
	display: flex;
	margin-left: 50px;
}

.project__title__ul1 {
	list-style: none;
}

.project__title__ul1>li {
	float: left;
	margin-left: 10px;
}

.project__title__ul2{
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.project__title__ul2>ul>li {
	text-align: left;
	margin-left: 10px;
	margin-bottom: 5px;
}

/*Arroy up*/
.arrow-up {
	background-color: var(--color-black);
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	font-size: 3rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 100%;
	text-align: center;
	box-shadow: 5px 5px 0px 0px var(--color-pink);
	transition: opacity 300ms ease-in;
}

.fa-arrow-up {
	color: white;
}


/* arrowUp.style.opacity = 2 - homeHeigth  / window.scrollY; */
/* 이렇게 바로 자스에서 구현해주는 방법도 있다. 가상 클래스를 안 만들어줘도 됨 */
/* 하지만 클래스로 해주면 많은걸 할 수 있고 유지보수 하기에 좋다. */
.arrow--visible {
	transition: opacity 300ms ease-in;
	/* opacity: 0.010; */
}

/* Footer */
#contact {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.contact__links {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	font-size: 3rem;
	color: var(--color-white);
}

.contact__link {
	transition: color 250ms ease-in;
}

.fa-github, .fa-linkedin {
	color: white;
}

.fa-github:hover, .fa-linkedin:hover {
	color: var(--color-pink);
}


@media screen and (max-width: 900px) {
	.section {
		padding: 3rem 2rem;
	}

	.title {
		font-size: 2rem;
	}

	.description {
		font-size: 1.7rem;
		margin-bottom: 50px;
	}

	.header {
		flex-direction: column;
		align-items: start;
		background-color: var(--color-white);
	}

	.header__toggle {
		display: block;
		color: var(--color-black);
		font-size: 2rem;
		position: absolute;
		top: 1.3rem;
		right: 1rem;
	   }

	.header__menu {
		display: flex;
		flex-direction: column;
		/* width: 200px; */
		text-align: center;
		gap: 0.05rem;
		display: none;		/*좁혔을 때 메뉴바가 안 보이게 숨겨놓음*/
	}

	.header__menu.open {
		display: flex;
	}

	.header__menu__item {
		display: block;
		padding: 8px 16px;
		border-bottom: 0.5px solid transparent;
	   }

	.header__menu.open {
		display: flex;
	   }

	.header__nav {
		width: 100%;
	}

	#home {
		padding-bottom: 3rem;

	}

	.home__title {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}

	.majors {
		max-width: 10rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.major {
		max-width: 25rem;
	   }

	.job {
		justify-content: center;
	}

	.skills {
		flex-direction: column;
		margin-right: 15px;
	}

	.skills__list__ctro__comuni {
		margin-top: 20px;
	}

	.categories {
		flex-direction: column;
	}

	.category {
		width: 100%;
	}

	.projects {
		grid-template-columns: repeat(0, 1fr);
	}
		
	.arrow-up {
		font-size: 2rem;
		width: 3rem;
		height: 3rem;
		bottom: 1.5rem;
		right: 1.5rem;
	}
	
}